/* Gallery.module.css */
.container {
  padding: 1rem;
}

.galleryGrid {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
  gap: 1rem;
}

.gridItem {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-align: center;
}

.gridImage {
  width: 100%;
  border-radius: 10px;
}

.imageTitle {
  margin-top: 0.2rem;
  font-style: italic;
  letter-spacing: 0.03rem;
  font-size: 1rem;
  color: #000000;
}

.galleryButton {
  margin-top: 1rem;
}